<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
     <script src="javascript.js"></script> 
  </head>
  <body>
    <h1>McCormick House Government Elections Fall 2014</h1>
    
    <p>Welcome to the McCormick Voting Page! Please rank a 1st and 2nd choice for each position.</p>

    	<form name="ranking" action="" method="" onsubmit="return validateForm()"> 

	    	<% for(var i = 0; i < ballot.length; i++){ %>
				<b><%= ballot[i][0] %></b>
				<table border=1 rules=rows frame=hsides>
						<col width="100">
						<col width="110">
						<col width="110">
					<tr>
					    <th></th>
					    <th>1st Choice</th>
					    <th>2nd Choice</th>
					</tr>
					<% for(var j = 0; j < ballot[i][1].length; j++){ %>			
						<tr>
						    <td style="border-bottom:1px black"><%=ballot[i][1][j]%></td>
						    <td style="text-align:center"><input type="radio" name="<%= ballot[i][0] %>1" value="<%=ballot[i][1][j]%>"></td>
						    <td style="text-align:center"><input type="radio" name="<%= ballot[i][0] %>2" value="<%=ballot[i][1][j]%>"></td>	    
						</tr>
					<%}%>
					<tr>
						<td><label>Write In:</label><input name="writein" type="text"></td>
						<td style="text-align:center"><input type="radio" name="<%= ballot[i][0] %>1" value="writein"></td>
					    <td style="text-align:center"><input type="radio" name="<%= ballot[i][0] %>2" value="writein"></td>  
					</tr>
					<tr>
						<td><label>Write In:</label><input name="writein" type="text"></td>
						<td style="text-align:center"><input type="radio" name="<%= ballot[i][0] %>1" value="writein"></td>
					    <td style="text-align:center"><input type="radio" name="<%= ballot[i][0] %>2" value="writein"></td>  
					</tr>
				</table> <br><br>
		<%}%>





		<b>JudComm</b>
		<table border=1 rules=rows frame=hsides>
				<col width="100">
				<col width="110">
				<col width="110">
				<col width="110">
				<col width="110">
				<col width="110">
			<tr>
			    <th></th>
			    <th>1st Choice</th>
			    <th>2nd Choice</th>
			    <th>3rd Choice</th>
			    <th>4th Choice</th>
			    <th>5th Choice</th>
			</tr>			
			<tr>
			    <td style="border-bottom:1px black">Denise Che</td>
			    <td style="text-align:center"><input type="radio" name="JudComm1" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm2" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm3" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm4" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm5" data-col="DeniseChe"></td>			    
			</tr>
			<tr>
			    <td>Laura D'Aquila</td>
			    <td style="text-align:center"><input type="radio" name="JudComm1" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm2" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm3" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm4" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm5" data-col="DeniseChe"></td>			
			</tr>
			<tr>
			    <td>Emma Nelson</td>
			    <td style="text-align:center"><input type="radio" name="JudComm1" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm2" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm3" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm4" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm5" data-col="DeniseChe"></td> 
			</tr>
			<tr>
				<td><label>Write In:</label><input type="text"></td>
				<td style="text-align:center"><input type="radio" name="JudComm1" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm2" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm3" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm4" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm5" data-col="DeniseChe"></td>
			</tr>
			<tr>
				<td><label>Write In:</label><input type="text"></td>
				<td style="text-align:center"><input type="radio" name="JudComm1" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm2" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm3" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm4" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm5" data-col="DeniseChe"></td>
			</tr>
			<tr>
				<td><label>Write In:</label><input type="text"></td>
				<td style="text-align:center"><input type="radio" name="JudComm1" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm2" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm3" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm4" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm5" data-col="DeniseChe"></td>
			</tr>
			<tr>
				<td><label>Write In:</label><input type="text"></td>
				<td style="text-align:center"><input type="radio" name="JudComm1" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm2" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm3" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm4" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm5" data-col="DeniseChe"></td>
			</tr>
			<tr>
				<td><label>Write In:</label><input type="text"></td>
				<td style="text-align:center"><input type="radio" name="JudComm1" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm2" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm3" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm4" data-col="DeniseChe"></td>
			    <td style="text-align:center"><input type="radio" name="JudComm5" data-col="DeniseChe"></td>
			</tr>
		</table> <br><br>
		<input type="submit" value="Submit">
		<input type="reset" value="Reset!"><br>
	</form>
	<!JudComm should be check boxes but only 5 people can be selected. The other positions should be radio buttons. Write-in text boxes. Other box. Ranking system>

  </body>
</html>

